# Flutter / Dart
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/release/
*.iml
.idea/

# Misc
.DS_Store

# Local CI artifact downloads
_ci_out/
